//
//  RNPConfig.xcconfig
//  ReactNativePermissions
//
//  Created by Artur Chrusciel on 09.11.18.
//  Copyright © 2018 Yonah Forst. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// RNPPermissions.xcconfig contains preprocessor directives to enable selective
// permission types and then there is no need to provide usage descriptions in Info.plist

// File must be placed in <PROJECT_DIR>/ios/RNPPermissions.xcconfig

// Example RNPPermissions.xcconfig content:

// RNP_PERMISSION_TYPES = RNP_TYPE_LOCATION RNP_TYPE_NOTIFICATION RNP_TYPE_BLUETOOTH RNP_TYPE_MEDIA_LIBRARY

// Full list of permission types preprocessor directives in
// Permissions/RNPPermissionClasses.m


#include? "../../../ios/RNPPermissions.xcconfig"
